<% images_with_thumbs = ['print'] %>
<% thumbfolder = images_with_thumbs.include?(category) ? "thumb/" : '' %>
<div style='background-color:white;'>
  <ul id='gallery' class="media-grid">
    <% data.images[category].each  do |photo| %>
    <li>
      <a href="/images/portfolio/big/<%= photo[:file] %>" title='<%= photo[:title] %>' rel="lightbox-journey">
        <div class='thumb-container'>
          <div class="img-container"  align="center">
            <img class="thumbnail" src="/images/portfolio/<%= thumbfolder %><%= photo[:file] %>" alt="<%= photo[:title] %>">
          </div>
          <div class='img_title'><%= photo[:title] %></div>
        </div>
      </a>
    </li>
    <% end %>
  </ul>
</div>
